*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family:  Arial;
}

header{
    padding: 2vmin;
    background: #0008;
    margin-bottom: 2vmin;
    text-align: center;
}

header h1{
    font-size: 10vmin;
}
.wrapper {
    /* background-color: pink; */
    width: 100vw;
    max-width: 1200px;
    height: 100vh;
    margin: 0 auto;
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.gallery__item{
    margin: 2vmin;
}

.gallery__item :hover{
    transform: scale(10vh,10vw);
}

.wrapper img{
    width: 300px;
    height: 210px;
    box-shadow: 0px 2px 5px -2px;
    border-radius: 10px;
}

.wrapper img:hover{
    transform: scale(1.05);
  }